name: Create GitHub Release
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  execute-parallel-pipeline:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
      - name: Dotnet Run Pipeline
        run: dotnet run -c Release --project ./iac/Deploy/Deploy.csproj
