<span style="@GetStyle">
	@ChildContent
</span>

@code {
	[Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;

	[Parameter, EditorRequired]
	public bool Visible { get; set; }

	private string GetStyle => Visible ? "display: inherit; height: 100%" : "display: none";
}
