@using SharpIDE.Application.Features.Build
@using XtermBlazor

@inject BuildService BuildService

@implements IDisposable

<div style="width: 100%">
	<Xterm @ref="@_terminalRef" Options="@_options" />
</div>

@code {
	private Xterm _terminalRef;

	private readonly TerminalOptions _options = new TerminalOptions
	{
		CursorBlink = true,
		CursorStyle = CursorStyle.Bar,
		Columns = 140,
		FontFamily = "Cascadia Code",
		FontWeightBold = "400",
		Theme =
		{
			BrightGreen = "#98c379",
			BrightRed = "#e06c75",
			Foreground = "#dcdfe4",
			Background = "#282c34",
		},
	};

	protected override async Task OnInitializedAsync()
	{
		BuildService.BuildStarted += ClearPreviousOutput;
		_ = Task.Run(async () =>
		{
			try
			{
				await foreach (var logLine in BuildService.BuildTextWriter.ConsoleChannel.Reader.ReadAllAsync())
				{
					await _terminalRef.Write(logLine);
				}
			}
			catch (Exception e)
			{
				await DispatchExceptionAsync(e);
			}
		});
	}

	private async Task ClearPreviousOutput()
	{
		await _terminalRef.Clear();
		await InvokeAsync(StateHasChanged);
	}

	public void Dispose() => BuildService.BuildStarted -= ClearPreviousOutput;
}
